RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_QUEUE_NAME=

ELASTICSEARCH_HOST=
ELASTICSEARCH_PORT=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

DB_HOST=
DB_PORT=
DB_NAME=
DB_DRIVER=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=



# Default environments
LOG_FILE_PATH=storage/logs

ALGORITHM=HS256
SECRET_KEY=supersecretkey
ACCESS_TOKEN_EXPIRE_MINUTES=60

REACT_APP_BASE_URL=http://127.0.0.1:8000
