.base {
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 680px;
    width: 120vh;
    background-color: rgba(0, 0, 0, 0.2); /* Yoğun opaklık */
    backdrop-filter: blur(20px); /* Blur efekti */
    padding: 20px;
}



#ip-box {
    width: 50%;
}

.input-box {
    float: right;
}

.table-content {
    background-color: rgba(240, 248, 255, 0.5);
    margin-top: 5%;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0.5;
}

.bas {
    background-color: white;
    padding: 30px;
    opacity: 80%;
    border-radius: 20px;
}

.bas li {
    margin-left: 15px;
}

.bas {
    padding-left: 30px;
    padding-right: 30px;
}
