/* App.css */

.menu-item-transition-enter,
.menu-item-transition-appear {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 3s ease-in-out;
}

.menu-item-transition-enter-active,
.menu-item-transition-appear-active {
  opacity: 1;
  transform: translateY(0);
}
