.wrapper2 {
    margin-top: 20px;
    width: 1300px;
    height: 95vh;
    margin: 0 auto;
    color: transparent;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.3); /* Opak arka plan rengi */
  }
  
  .ant-menu-horizontal {
    margin-left: 60px;
    line-height: 80px;
    background-color: transparent; /* Menü arka plan rengini temizleyin */
    backdrop-filter: blur(30px); /* Blur efekti uygula */
  }
  
  .menu-item {
    opacity: 1; /* Item'lerin opasitesini 1 yap, böylece solmazlar */
  }
  
  .ant-menu-dark .ant-menu-item-selected, .ant-menu-dark .ant-menu-item-active {
    background-color: #2a333b;
    border-bottom: 2px solid #2a333b;
  }

  #tester{
    margin-left: 73%;
  }

  
  